{% extends '_without_nav_base.html' %}
{% load i18n %}
{% block body %}
<style>
li {
    list-style: disc;
}
ul {
    padding-left: 30px;
    padding-top: 10px;
}
p {
    padding-top: 10px;
}
</style>
<div style="margin: 0 200px">
    <div class="group">
        <h2>{% trans 'Bastion host Client' %}</h2>
        <p>
            {% trans 'Bastion host Client, currently used to launch the client, now only support launch RDP SSH client, The Telnet client will next' %}
        </p>
        <ul>
            <li> <a href="/download/public/Toecsec-Client-Installer-win-v2.1.4.exe">Toecsec-Client-windows-x86_64.exe</a></li>
        </ul>
    </div>

</div>
<style>
ul {
    list-style-type: disc;
}
li a {
    color: blue;
}

.group {
    padding-top: 40px;
}

.group ul {
    padding-top: 10px;
}
</style>

{% endblock %}
