{% extends '_base_only_content.html' %}
 {% load static %}
 {% load i18n %}
 {% block custom_head_css_js %}
     <style>
         .margin-bottom {
             margin-bottom: 15px;
         }
         .input-style {
             width: 100%;
             display: inline-block;
         }

         .challenge-required .input-style {
             width: calc(100% - 120px);
             display: inline-block;
         }

         .btn-challenge {
             width: 110px !important;
             height: 100%;
             vertical-align: top;
         }
     </style>
 {% endblock %}

 {% block title %}
     {% trans 'Administrator initialization' %}
 {% endblock %}

 {% block content %}
     <hr>
     <form class="m-t" role="form" method="post" action="">
         {% csrf_token %}
         {% if 'code' in form.errors %}
             <p class="red-fonts">{{ form.code.errors.as_text }}</p>
         {% endif %}
         <div class="form-group {% if form.usb_key_serial.errors %} has-error {% endif %}">
             <div class="margin-bottom challenge-required">
                 <input type="text" id="u-key-serial" name="usb_key_serial" class="form-control input-style"
                        placeholder="{% trans 'Initialize administrator key' %}">
                 <button class="btn btn-primary full-width btn-challenge"
                         type='button' onclick="getUKeySerial()">
                     {% trans 'UKey' %}
                 </button>
             </div>
             {% if form.usb_key_serial.errors %}
                 <p class="help-block" style="text-align: left">
                     {{ form.usb_key_serial.errors.as_text }}
                 </p>
             {% endif %}
         </div>
         <button id='submit_button' type="submit" class="btn btn-primary block full-width m-b">
             {% trans 'Next' %}
         </button>
     </form>
     <script>
         function getUKeySerial() {
             const serial = getSerial()
             if (!serial) {
                 alertError('serial')
                 return false
             }
             $('#u-key-serial').val(serial)
         }
     </script>
 {% endblock %}
